h1 {
    margin: 1rem auto 4rem;
}

.product--im {
    width: 60%;
    height: 8em;
    margin: auto;
    border-radius: 100%;
    margin-top: 20px;
}

.cont {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.price {
    margin-top: 10px;
    color: gray;
    font-size: 15px;
    margin-bottom: 20px;
}

.price1 {
    color: gray
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.card1 {
    display: flex;
    justify-content: space-around;
    padding: 4px
}

h2 {
    text-align: left;
}

.card2 {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

/* top.css */
.cont {
    position: relative;
}

.cont .react-multiple-carousel__arrow {
    background-color: black;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    /* Half the height of the arrow */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.cont .react-multiple-carousel__arrow--left {
    left: 1100px;
    top:0;
}

.cont .react-multiple-carousel__arrow--right {
    right: 0;
    top:0
}